@import "index.css";

.ebase {
    background-color: var(--background);
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 40px 0;
    z-index: 1000;
  }
  
  ul {
    display: flex;
    flex-direction: row-reverse;
  }
  
  ul li {
    display: inline-block;
    filter: invert(1);
    margin: 0 1rem;
  }
  
  .socials {
    padding: 2rem 2rem;
  }
  
  .container-fluid {
    padding-bottom: 2rem;
  }

.hero-section {
    align-items: var(--t-align);
    display: flex;
    flex-direction: column;
}

.title {
    padding-bottom: var(--spacing);
    padding-top: var(--spacing);
    text-align: var(--t-align);
    color: var(--text);
    line-height: normal;
    white-space: nowrap;
    letter-spacing: 0;
}

.text-center {
    font-weight: var(--weight);
    text-align: var(--t-align);
    padding: var(--spacing);
  color: var(--text);
  line-height: normal;
  letter-spacing: 0;

}

.button-group {
    background: var(--button-color);
    text-align: var(--t-align);
    margin: var(--spacing);
    color: var(--text);
    align-items: flex-end;
    text-decoration: none;
    border-radius: 10px;
    height: 3rem;
    width: 24vh;
}


.button{
    font-weight: var(--weight);
    text-align: var(--t-align);
    color: var(--text);
    line-height: normal;
    letter-spacing: 0;
    padding-top: .8rem;
}

.button-group{
    transition: background-color 1s;
}
.button-group:hover {
    background-color: #004369;
}

.button-group:focus,
.button-group:active {
    background-color: black;
    transition: none;
}

.accordion {
    position: var(--pos);
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;

}

.song {
    font-weight: var(--weight);
    color: var(--text);
    color: antiquewhite;
    line-height: normal;
    letter-spacing: 0;
    flex: 1;
}

.headline {
    align-items: var(--t-align);
    position: var(--pos);
    align-self: stretch;
    display: flex;
    gap: 10px;
    height: 85px;
}

.playlist-image{
    position: var(--pos);
    object-fit: cover;
    height: auto;
    border-radius: 1rem;
    max-width: 100%;
}

.btnControl[type="checkbox"] {
    display: none;
}

.btnControl:checked + label > img {
    transition: 0.6s ease;
    transform: rotate(180deg);
}
.btnControl:not(:checked) + label > img {
    transition: 0.6s ease;
    transform: rotate(0deg);
}

.seperator{
    padding-bottom: var(--spacing);
    position: var(--pos);
    margin-left: -1px;
    margin-right: -1px;
    padding-top: 3rem;
    align-self: stretch;
}

.accordion-collapse{
    padding-bottom: var(--spacing);
    width: 100%;
}

.accordion-body{
    position: var(--pos);
    margin-right: -4px;
}

.description {
    font-weight: var(--weight);
    position: var(--pos);
    color: var(--text);
    font-size: var(--spacing);
    line-height: normal;
    letter-spacing: 0;
}