.ebase {
  padding: 0;
  height: 100%;
  padding-top: 3rem;
  background: hsla(0, 3%, 18%, 1);

  background: linear-gradient(
    0deg,
    hsla(0, 3%, 18%, 1) 10%,
    hsla(284, 61%, 39%, 1) 100%
  );

  background: -moz-linear-gradient(
    -90deg,
    hsla(0, 3%, 18%, 1) 10%,
    hsla(284, 61%, 39%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#302D2D", endColorstr="#7F27A0", GradientType=1 );
}

.title {
  color: rgb(29, 185, 84);
  text-align: center;
}

.playlist {
  display: flex;
}

td img {
  height: auto;
}

.text-center {
  color: antiquewhite;
}
