{% extends 'base.html' %}
{% block body %}
    
    <section class="container-fluid">
      <div class="row">        
        <img src="{{ weatherSVG }}" class="rounded mx-auto d-block"/>
      </div> 
      {% for row in playlistData %}
        {% if row['description'] == '' %}{% else %}
        <div class="accordion" id="accordionExample">
            <h2 class="accordion-header" id="heading{{loop.index}}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                <img src="{{row['image']}}" id="playlist-image" width="15%" height="auto"/>
                {{row['name']}}
              </button>
            </h2>
            <div id="collapse{{loop.index}}" class="accordion-collapse collapse hide" aria-labelledby="{{loop.index}}" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <p>{{row['description']}}</p>              
              </div>
            </div>
        </div>
        {% endif %}
      {% endfor %}
    </section>

{% endblock %}
{% block script %}

    <script>
        let data = {};
        // let debug = document.getElementById("debug").innerHTML;
        // 
        $('#click').click(function (){
        $.ajax({
          type: 'GET',
          url:'/playlist/<query>',
          success: function (response) {
            data = {
              image: response.image,
              name: response.name,
            }
            console.log(data)
          }
        })
      })
        
    </script>

{% endblock %}